<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Tnc_LogProductUpdate>
            <version>0.0.1</version>
        </Tnc_LogProductUpdate>
    </modules>
    <!-- Configure our module's behavior in the global scope -->
    <global>
        <!-- Defining models -->
        <models>
            <!--
                Unique identifier in the model's node.
                By convention, we put the module's name in lowercase.
            -->
            <tnc_logproductupdate>
                <!--
                    The path to our models directory, with directory
                    separators replaced by underscores
                -->
                <class>tnc_LogProductUpdate_Model</class>
            </tnc_logproductupdate>
        </models>
        <!-- Defining an event observer -->
        <events>
            <!-- The code of the event we want to observe -->
            <catalog_product_save_after>
                <!-- Defining an observer for this event -->
                <observers>
                    <!--
                        Unique identifier within the 
                        catalog_product_save_after node.
                        By convention, we write the module's 
                        name in lowercase.
                    -->
                    <tnc_logproductupdate>
                        <!-- The model to be instantiated -->
                        <class>tnc_logproductupdate/observer</class>
                        <!-- The method of the class to be called -->
                        <method>logUpdate</method>
                        <!-- The type of class to instantiate -->
                        <type>singleton</type>
                    </tnc_logproductupdate>
                </observers>
            </catalog_product_save_after>
        </events>
    </global>
</config>