<?xml version="1.0"?>
<config>
    <modules>
        <Tnc_Member>
            <version>0.0.1</version>
        </Tnc_Member>
    </modules>
    <global>
        <blocks>
            <member>
                <class>Tnc_Member_Block</class>
            </member>
        </blocks>
        <!--
        <helpers>
            <member>
                <rewrite>
                    <data>Tnc_Member_Helper_Data</data>
                </rewrite>
            </member>
        </helpers>
        -->
    </global>
    <frontend>
        <routers>
            <member>
                <use>standard</use>
                <args>
                    <module>Tnc_Member</module>
                    <frontName>member</frontName>
                </args>
            </member>
        </routers>
        <layout>
            <updates>
                <member>
                    <file>member.xml</file>
                </member>
            </updates>
        </layout>
    </frontend>
</config>
